body{
  margin: 20px;
  background-color: rgb(217, 242, 224);
  display: flex;
  flex-direction: column;
  color: rgb(0, 84, 45);
}


li{ 
    text-decoration: none;
    display: inline-block;
    text-align: right;
    padding: 20px;
    font-family: "DM Sans", sans-serif;

    a{
        color: rgb(0, 84, 45);
        text-decoration: none;
    }
     
  
}
ul{
        float: right;
    }
