
nav a{
    width: 100px;
    height: 100px;
    margin: 10px 10px;
}

header {
    padding: 30px;
}

li{
    text-decoration: none;
    display: inline-block;
    text-align: right;
    padding: auto;
}

ul{
    float: right;
}